/* 
	CSS file for the NSMBHD Layout file 
	By Dirbaio
*/

.footer
{
	text-align: center;
	width: 100%;
	font-size: .8em; /* 10pt; */
	clear: both;
	margin-top:12px;
	margin-bottom:12px;
	overflow: auto;
}

.footer *
{
	border: 0;
}

#boardheader
{
	width:100%;
	border-bottom: 1px solid black;
}

#boardheader2
{
	width:100%;
	margin-bottom:6px;
	border-bottom: 1px solid black;
	font-size:0.85em;
	text-align:center;
	padding-top:3px;
	padding-bottom:3px;
}

#sidebar
{
	float:right;
	width:130px;
	padding:6px;
}

#main
{
	margin-right:140px;
	padding:6px;
}

ul.sidemenu
{
	text-align:left;
	font-size: .85em; /* 8pt; */
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.sidemenu li
{
	padding: 4px;
	padding-right: 4px;
}

ul.sidemenu li.sidemenuseparator
{
	margin:5px;
}


td.dragHandle:hover
{
	background-image:url("../img/draghandle.gif");
	background-position:center;
	background-repeat:no-repeat;
}

div#maincontainer
{
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

