#mobile_headerBar {
	width:100%;
	padding:0px;
	border-bottom: 1px solid black;
	z-index:10000;
}

#mobile_headerBar a.button {
	color: white;
}
#mobile_headerBar a {
	display:inline-block;
	padding:12px;
}

#mobile_headerBar a:active, #mobile_headerBar a:hover {
	background-color:rgba(0, 0, 0, 0.2);
}
#mobile_headerBar td {
	margin:0px;
	padding:0px;
	white-space: nowrap;
	overflow: hidden;
}

#mobile_openHeader {
	-webkit-tap-highlight-color: transparent;
}

#mobile_overlay {
	background-color: black;
	opacity: 0;
	-webkit-transition: 0.5s opacity ease-in-out, 0.5s visibility ease-in-out;
	position:fixed!important;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index: 1;
	
    visibility: hidden;
}

#mobile_overlay.shown
{
    visibility: visible;
    opacity: 0.75;
}

html.noscroll
{
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}

#mobile_sidebar {
	-webkit-transition: 0.5s -webkit-transform ease-in-out;
	-webkit-transform: translateX(-240px);

	background:black;
	color:white;

	position:fixed!important;
	left:0px;
	top:0px;
	width:240px;
	height:100%;
	min-height:100%;
	margin:0px;
	padding:0px;
	z-index:2;

	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	display: block;
}

#mobile_sidebar.shown {
	-webkit-transform: translateX(0px);
}

#mobile_header.shown {
	display: block;
}

#mobile_header td {
	vertical-align: top;
}

#main {
/*	margin-top:34px;*/
}

.stackedMenu {
	display:block;
	margin:0px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.stackedMenu > li{
	display:block;
	margin: 0px;
	padding: 0px;
}

.stackedMenu > li > a i, .stackedMenu > li > a img {
	position: absolute;
	left: 8px;
	top: 8px;
	font-size: 18px;
}
.stackedMenu > li > a, .stackedMenu > li > a:visited {
	display:block;
	padding:10px;
	color: #FFF;
	padding-left: 30px;
	-webkit-tap-highlight-color: transparent;
	position: relative;
}

.stackedMenu > li > a:active, .stackedMenu > li > a:hover {
	background-color:rgba(0, 0, 0, 0.2);
}



.toolbarMenu {
	display:block;
	margin:0px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.toolbarMenu > li{
	display:inline-block;
	margin: 0px;
	padding: 0px;
}

.toolbarMenu > li > a, .toolbarMenu > li > a:visited {
	display:inline-block;
	padding:10px;
	color: #FFF;
	-webkit-tap-highlight-color: transparent;
}

.toolbarMenu > li > a:active, .toolbarMenu > li > a:hover {
	background-color:rgba(0, 0, 0, 0.2);
}


.width75 {
	width: 100%;
}
.width50 {
	width: 100%;
}
.width25 {
	width: 100%;
}
/* Floats aren't mobile friendly */
.floatright {
	float: none;
}

