#body-wrapper {
	padding-top: 40px;
}

#body {
	z-index:0;
}

#mobile_headerBar {
	width:100%;
	padding:0px;
	border-bottom: 1px solid black;
	z-index:10000;
	position: fixed;
	top: 0px;
	left: 0px;
	max-height: 40px;
}

#mobile_headerBar a.button {
	color: white;
}
#mobile_headerBar a {
	display:inline-block;
	line-height: 40px;
	padding: 0px;
	padding-left: 8px;
	padding-right: 8px;
	height: 40px;
}

#mobile_headerBar .toolbarMenu a {
	padding-left: 0px;
	padding-right: 0px;
}

#mobile_headerBar a:active, #mobile_headerBar a:hover {
	background-color:rgba(0, 0, 0, 0.2);
}
#mobile_headerBar td {
	margin:0px;
	padding:0px;
	white-space: nowrap;
	overflow: hidden;
}

#mobile_headerBar i {
	color: white;
}

#mobile_openHeader {
	-webkit-tap-highlight-color: transparent;
}

#mobile_sidebar {
	background:black;
	color:white;

	position:fixed!important;
	left:0px;
	top:0px;
	width:240px;
	height:100%;
	min-height:100%;
	margin:0px;
	padding:0px;
	z-index:200;

	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	display: block;
}

/* This is horrible, but I don't know how to fix it properly. */
#mobile_sidebar > img {
	margin-top: 40px;
}

#mobile_header td {
	vertical-align: top;
}

#main {
/*	margin-top:34px;*/
}

.stackedMenu {
	display:block;
	margin:0px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.stackedMenu > li{
	display:block;
	margin: 0px;
	padding: 0px;
}

.stackedMenu > li > a i, .stackedMenu > li > a img {
	position: absolute;
	left: 8px;
	top: 8px;
	font-size: 18px;
}
.stackedMenu > li > a, .stackedMenu > li > a:visited {
	display:block;
	padding:10px;
	color: #FFF;
	padding-left: 30px;
	-webkit-tap-highlight-color: transparent;
	position: relative;
}

.stackedMenu > li > a:active, .stackedMenu > li > a:hover {
	background-color:rgba(0, 0, 0, 0.2);
}



.toolbarMenu {
	display:block;
	margin:0px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.toolbarMenu > li {
	display:inline-block;
	margin: 0px;
	padding: 0px;
}

.toolbarMenu li {
	display: inline-block;
}

#mobile_headerBar .toolbarMenu li {
	margin-left: 0px;
	margin-right: 0px;
}

.toolbarMenu i {
	font-size: 20px;
	line-height: 40px;
	padding-left: 8px;
	padding-right: 8px;
}

.toolbarMenu > li > a, .toolbarMenu > li > a:visited {
	display:inline-block;
	padding:0px;
	color: #FFF;
	-webkit-tap-highlight-color: transparent;
}

.toolbarMenu > li > a:active, .toolbarMenu > li > a:hover {
	background-color:rgba(0, 0, 0, 0.2);
}


.width75 {
	width: 100%;
}
.width50 {
	width: 100%;
}
.width25 {
	width: 100%;
}
/* Floats aren't mobile friendly */
.floatright {
	float: none;
}


.footer {
	font-size: 0pt;
}

.footer > a:first-child {
	font-size: 8pt;
}


@media (min-width: 650px) {

	#body-wrapper {
		padding-left:240px;
	}
	
	#mobile_sidebar {
		visibility: visible;
		-webkit-transform: translateX(0px);
		-o-transform: translateX(0px);
		-ms-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
	}
	
	#mobile_openHeader {
		display: none!important;
	}
	
	#mobile_overlay {
		display: none;
	}
}

@media (max-width: 650px)  {
	#mobile_sidebar {
		-webkit-transform: translateX(-240px);
		-o-transform: translateX(-240px);
		-ms-transform: translateX(-240px);
		-moz-transform: translateX(-240px);
		transform: translateX(-240px);

		visibility: hidden;
	}

	#mobile_sidebar.visible {
		visibility: visible;
	}

	#mobile_sidebar.shown {
		-webkit-transform: translateX(0px);
		-o-transform: translateX(0px);
		-ms-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
	}


	#mobile_overlay {
		background-color: black;
		opacity: 0;
	
		position:fixed!important;
		left:0px;
		top:0px;
		width:100%;
		height:100%;
		z-index: 1;
	
		visibility: hidden;
	}

	#mobile_overlay.shown
	{
		visibility: visible;
		opacity: 0.75;
	}

	#mobile_overlay.visible {
		visibility: visible;
	}

	html.noscroll
	{
		position: fixed; 
		overflow-y: scroll;
		width: 100%;
	}
}

#mobile_sidebar {
	-webkit-transition: 0.4s -webkit-transform ease-in-out;
	-o-transition: 0.4s -o-transform ease-in-out;
	-ms-transition: 0.4s -ms-transform ease-in-out;
	transition: 0.4s transform ease-in-out;
}

#mobile_overlay {
	-webkit-transition: 0.4s opacity ease-out;
	-o-transition: 0.4s opacity ease-out;
	-ms-transition: 0.4s opacity ease-out;
	transition: 0.4s opacity ease-out;
}
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}


.mobile_postHeader {
	background: #222;
	height: 40px;
	line-height: 20px;
}

.mobile_postHeader .date {
	opacity: 0.5;
}

.mobile_userAvatarBox {
	width: 40px;
	height: 40px;
	padding: 0px;
}

.mobile_userAvatarBox img {
	width: 40px;
	height: 40px;
	margin: 0px;
}

.mobile_postHeader .mobile_userAvatarBox {
	float: left;
	margin-right: 8px;
}

.mobile_postHeader .toolbarMenu {
	float: right;
}

.mobile_postHeader ul.toolbarMenu i {
	line-height: 40px;
}

.mobile_postBox {
	padding: 8px;
	border: 1px solid #222;
	margin-bottom: 8px;
}
