
.outline, .PoRT
{
	outline: 0px none;
/*	box-shadow: none; */
}

table.outline
{
	border: 0px none;
}

.faq
{
	border: 1px solid #000;
	background: #05012E;
}

#boardheader
{
	background: #000 url("topbg.png");
	background-repeat: repeat;
	background-attachment:fixed;
	background-position:center top; 
}


body
{
	background-color:#000;
	background-image: url("bg.png");
	background-repeat: repeat-x;
	background-attachment:fixed;
	background-position:left bottom; 
}

.header0, .header1
{
	border: 1px solid #000;
}

.header0 th
{
	background: rgba(118, 8, 0, 0.85);
	color: #EEEEEE;
}

.header1 th
{
	background: rgba(161, 62, 5, 0.85);
}

.cell2
{
	background: rgba(22, 28, 55, 0.85);
}

.cell1, table.post td.side, table.post td.userlink, table.post td.meta
{
	background: rgba(6, 11, 26, 0.85);
}

.cell0, table.post td.post, .faq
{
	background: rgba(12, 24, 54, 0.85);
}

.errort
{
	background: rgba(12, 24, 54, 0.85);
	border: 1px solid #000;
}

.errorc
{
	background: rgba(6, 11, 26, 0.85);
	border: 1px solid #000;
	border-top: 0px;
}

table
{
}

td, th
{
	border: 1px solid #000;
}

table.outline tr:first-child th:last-child
{
	border-right: 1px solid #000;
}
table.outline tr:first-child th
{
	border-top: 1px solid #000;
}
table.outline td
{
	border-left: 0px none;
	border-top: 0px none;
}
table.outline th
{
	border-bottom: 1px solid #000;
}
table.outline tr td:first-child, table.outline tr th:first-child
{
	border-left: 1px solid #000;
}


table.post
{
	border: 0px none;
	background: none;
}

table.post td.side
{
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}

table.post td.userlink
{
	border-top: 1px solid #000;
	border-bottom: 0px none;
}

table.post td.meta
{
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}

table.post td.post
{
	border: 1px solid #000;
}



button, input[type="submit"]
{
	border: 1px solid #000;
	background: rgba(42, 26, 9, 0.85);
	color: #FFF;
}

input[type="text"], input[type="password"], input[type="file"], input[type="email"], select, textarea, input[type="checkbox"], input[type="radio"]
{
	background: rgba(13, 10, 30, 0.90);
	border: 1px solid #000;
	color: #FFF;
}

input[type="radio"]
{
	border-radius: 8px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus, input[type="email"]:focus, select:focus, textarea:focus
{
	border-color: rgba(250, 160, 50, 0.85);
}


div#tabs button.selected
{
	border-bottom: 1px solid rgba(118, 8, 0, 0.85);
	background: rgba(118, 8, 0, 0.85);
}
