table.outline
{
	border: 0px none;
}

.faq
{
	border-color: #000;
	background: #05012E;
}

#boardheader
{
	background: rgba(10, 0, 0, 0.85);
}

body
{
	background-color:#000;
	background-image: url("overbg.png"), url("bg.png");
	background-repeat: repeat-x, repeat;
	background-attachment:fixed, fixed;
	background-position:left bottom, left bottom;
}

.header0, .header1
{
	border-color: #000;
}

.header0 th
{
	background: rgba(161, 62, 5, 0.85);
	color: #EEEEEE;
}

.header1 th
{
	background: rgba(118, 8, 0, 0.85);
}

.cell2
{
	background: rgba(80, 0, 0, 0.85);
}

.cell1, table.post td.side, table.post td.userlink, table.post td.meta
{
	background: rgba(56, 16, 8, 0.85);
}

.cell0, table.post td.post, .faq
{
	background: rgba(32, 8, 0, 0.85);
}

.errort
{
	background: rgba(32, 8, 0, 0.85);
	border-color: #000;
}

.errorc
{
	background: rgba(56, 16, 8, 0.85);
	border-color: #000;
	border-top: 0px;
}

table
{
}

td, th
{
	border-color: #000;
}

table.outline tr:first-child th:last-child
{
	border-right: 1px solid #000;
}

table.outline tr:first-child th
{
	border-top: 1px solid #000;
}

table.outline td
{
	border-left: 0px none;
	border-top: 0px none;
}

table.outline th
{
	border-bottom: 1px solid #000;
}

table.outline tr td:first-child, table.outline tr th:first-child
{
	border-left: 1px solid #000;
}

table.post
{
	border: 0px none;
	background: none;
}

table.post td.side
{
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}

table.post td.userlink
{
	border-top: 1px solid #000;
	border-bottom: 0px none;
}

table.post td.meta
{
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}

table.post td.post
{
	border-color: #000;
}

button, input[type="submit"]
{
	border-color: #000;
	background: rgba(42, 26, 9, 0.85);
	color: #FFF;
}

input[type="text"], input[type="password"], input[type="file"], input[type="email"], select, textarea, input[type="checkbox"], input[type="radio"]
{
	background: rgba(80, 0, 0, 0.90);
	border-color: #000;
	color: #FFF;
}

input[type="radio"]
{
	border-radius: 8px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus, input[type="email"]:focus, select:focus, textarea:focus
{
	border-color: rgba(256, 90, 10, 0.85);
}

div#tabs button.selected
{
	border-bottom: 1px solid rgba(161, 62, 5, 0.85);
	background: rgba(161, 62, 5, 0.85);
}

