#mobile_headerBar {
	width:100%;
	padding:0px;
	border-bottom: 1px solid black;
	z-index:10000;
}

#mobile_headerBar a {
	display:inline-block;
	padding:10px 14px 10px 14px;
}

#mobile_headerBar a:active, #mobile_headerBar a:hover {
	background-color:rgba(0, 0, 0, 0.2);
}

.mobile_openHeader {
	display:inline-block;
	float:right;
}

.selected {
	background-color:rgba(0, 0, 0, 0.2)!important;
}

#mobile_header {
	margin:0px;
	padding:0px;
	width:100%;
	z-index:1000;
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	transition: 0.2s linear;

	/* Nicer scrolling */
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

#mobile_header.shown {
	max-height: 400px;
}

#mobile_header td {
	vertical-align: top;
}
#mobile_online {
	overflow:auto; 
	white-space:nowrap; 
	text-align:center;
	padding:10px;
}

.invisible {
	display: none;
}

#main {
/*	margin-top:34px;*/
}

.stackedMenu {
	display:block;
	margin:0px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.stackedMenu > li{
	display:block;
	margin: 0px;
}

.stackedMenu > li > a {
	display:block;
	padding:10px;
}

.stackedMenu > li > a:active, .stackedMenu > li > a:hover {
	background-color:rgba(0, 0, 0, 0.2);
}


.width75 {
	width: 100%;
}
.width50 {
	width: 100%;
}
.width25 {
	width: 100%;
}

{
	width: 25%;
}
